body {
  /* background-color: lightblue; */
  font-family: sans-serif;
}

input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

button {
  background-color: cornflowerblue;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 0.5rem;
}

form {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
}

.selected {
  color: green;
  font-weight: bold;
}

section {
  border: 3px solid transparent;
  margin-bottom: 1rem;
  padding: 1rem;
}

.no-bullets {
  list-style-type: none;
  padding-left: 0;
}

.warning {
  color: red;
  font-weight: bold;
}
