input {
  border: 1px solid red;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

body {
  font-family: sans-serif;
}

button {
  background-color: cornflowerblue;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
button.plain {
  background-color: unset;
  border: none;
  padding: unset;
}
button:disabled {
  opacity: 0.7;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

#error {
  color: red;
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

h1 {
  color: cornflowerblue;
  font-size: 2rem;
  font-weight: bold;
}

.htmx-indicator {
  height: 1.5rem;
  width: 1.5rem;
  margin-left: 1rem;
}

input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.todo-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.todo-item.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

// This can be used to demonstrate fading new content into view.
/*
.todo-item.warning {
  color: red;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.todo-item.warning.htmx-added {
  opacity: 0;
}
*/
