body {
  background-color: cornflowerblue;
  font-family: sans-serif;
}

.center {
  text-align: center;
}

.htmx-indicator {
  height: 2rem;
  width: 2rem;
}

table {
  border-collapse: collapse;
  margin-bottom: 0.5rem;
}

td,
th {
  border: 1px solid cornflowerblue;
  padding: 0.5rem;
}

td {
  background-color: lightblue;

  & button {
    background-color: transparent;
    color: white;
  }
}

th {
  background-color: orange;
}
