.htmx-indicator {
  height: 1.5rem;
  margin-top: 0.5rem;
  width: 1.5rem;
}

.cover {
  border: 1px solid gray;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  max-height: 6rem;
  max-width: 6rem;
}
