body {
  font-family: sans-serif;
}

.error {
  color: red;
  font-weight: bold;
  margin-left: 0.5rem;
}

form > div {
  margin-bottom: 0.5rem;
}

input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

label {
  display: inline-block;
  margin-right: 0.5rem;
  text-align: end;
  width: 5rem;
}

#result {
  margin-top: 1rem;
}
